<div class="container">
    <h2>Badges</h2>
    <mat-divider></mat-divider>
    <div class="wrapper mt-3">
        <div class="row">
            <div class="col-6">
                <div class="bg-app">
                    <h2>Example 1</h2>
                    <button mat-stroked-button color="primary" matBadge="4">Open Dialog</button>
                    <div>
                        <span matBadge="6">
                            Lorem ipsum dolor sit amet.
                        </span>
                    </div>
                    <div>
                        <span matBadge="6" matBadgeOverlap="false">
                            Lorem ipsum dolor sit amet.
                        </span>
                    </div>
                    <div>
                        <span matBadge="6" matBadgeOverlap="false" matBadgeSize="small">
                            Lorem ipsum dolor sit amet.
                        </span>
                        <br>
                        <span matBadge="6" matBadgeOverlap="false" matBadgeSize="medium">
                            Lorem ipsum dolor sit amet.
                        </span>
                        <br>
                        <span matBadge="6" matBadgeOverlap="false" matBadgeSize="large">
                            Lorem ipsum dolor sit amet.
                        </span>
                    </div>
                    <button mat-stroked-button color="primary" matBadge="4" matBadgeColor="accent">Open Dialog</button>
                    <button mat-stroked-button color="primary" matBadge="4" matBadgeHidden="true">Hidden</button>
                    <button mat-stroked-button color="primary" matBadge="4" matBadgePosition="above">above</button>
                    <br>
                    <button mat-stroked-button color="primary" matBadge="4" matBadgePosition="before">before</button>
                    <button mat-stroked-button color="primary" matBadge="4" matBadgePosition="after">after</button>
                    <button mat-stroked-button color="primary" matBadge="4" matBadgePosition="below">below</button>
                    <br><br>
                    <br><br>
                
                </div>
            </div>
            <div class="col-6">
                <div class="bg-app">
                    <h2>Example 2 Live</h2>
                    <button mat-mini-fab color="primary" (click)="onAdd()">
                        <mat-icon>add</mat-icon>
                    </button>
                    <span class="m-3">{{count}}</span>
                    <button mat-mini-fab color="primary" (click)="onRemove()">
                        <mat-icon>remove</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>