<div class="container">
    <h2>Cards</h2>
    <mat-divider></mat-divider>
    <div class="content">
        <div class="row">
            <div class="col-4 standard-card">
                <h2>Standard Card</h2>
                <mat-card class="bg-app mb-2">
                    <h2 class="mb-1">Simple card</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit reiciendis dolorum, ipsa soluta
                        deleniti nam?</p>
                </mat-card>
                <mat-card class="bg-app mb-2">
                    <mat-card-title>Simple card</mat-card-title>
                    <mat-card-subtitle>Something</mat-card-subtitle>
                    <mat-card-content>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit reiciendis dolorum, ipsa soluta
                        deleniti nam?
                    </mat-card-content>
                    <mat-divider></mat-divider>
                    <mat-card-actions>
                        <button mat-button color="warn">Action</button>
                        <button mat-raised-button color="primary">Read all</button>
                    </mat-card-actions>
                </mat-card>
            </div>
            <div class="col-4 standard-card">
                <h2>Standard Card</h2>
                <mat-card>Simple card</mat-card>
            </div>
            <div class="col-4 standard-card">
                <h2>Picture Card</h2>
                <mat-card class="example-card">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Shiba Inu</mat-card-title>
                        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                        alt="Photo of a Shiba Inu">
                        <mat-card-title>Some Dog</mat-card-title>
                    <mat-card-content>
                        <p>
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from
                            Japan.
                            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was
                            originally
                            bred for hunting.
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button>LIKE</button>
                        <button mat-button>SHARE</button>
                    </mat-card-actions>
                </mat-card>

            </div>
        </div>
    </div>
</div>